@media screen and ( max-width: 1200px )
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem
@media screen and ( min-width: 992px )
    .logo
        &:hover
            color: $light
    .phone
        &:hover
            color: $light
    .button
        &:hover
            box-shadow: none
            border: 1px solid #fff
            box-shadow: 0px 5px 15px rgba($light, 0.3)
            background-color: rgba($light, 0.3)
        &_outline
            &:hover
                box-shadow: 0px 5px 15px rgba($light, 0.3)
                background-color: rgba($light, 0.3)
    .hero
        &__scroll-down
            &:hover
                color: $primary
                box-shadow: 0px 0px 10px rgba($light, 0.3)    
@media screen and ( max-width: 991px ) 
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 5rem
        &__text
            margin-left: 0
    .design
        background-color: $dark
        color: $light
        &__col
            margin-bottom: 5.8rem
        &__text
            margin-left: 0
@media screen and ( max-width: 760px )
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 5rem
        &__text
            margin-left: 0
    .design
        background-color: $dark
        color: $light
        &__col
            margin-bottom: 5.8rem
        &__text
            margin-left: 0
@media screen and ( max-width: 570px ) 
    .header
        padding: 22px 0
    .container
        width: 90%
        max-width: 1256px
    .menu
        &__logo
            margin: 0
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.94rem
        margin-top: 0 
    .hero
        height: auto
        padding-top: 140px
        min-height: 100vh
        justify-content: flex-start
        .container
            margin: 0 auto
        &__content
            max-width: 350px
        &__text
            line-height: 140%
            font-size: 1.5rem
            margin-top: 0.75rem
            padding-top: 0
            margin-bottom: 2.5rem
            max-width: 26.6rem
        &__button
            display: block
            min-width: 100%
            margin-bottom: 1.85rem
        &__scroll-down
            display: none
    .button
        font-size: 1.1rem
    .section-title
        &__heading
            font-size: 1.834rem
    .types
        &__section-title
            margin-bottom: 3.4rem
        &__card
            margin-bottom: 5.7rem
    .types
        &__text
            margin-top: -12.7rem
            padding: 2rem 2.65rem
        &__title
            font-size: 1.25rem
        &__list
            font-size: 1.084rem
            line-height: 1.89rem
        &__pricetag
            padding: 1.01rem 2.7rem
            bottom: -0.79rem
    .description
        &__text
            max-width: 90%
            font-size: 1.25rem
            line-height: 140%
            margin-bottom: 2.95rem
    .design
        background-color: $dark
        color: $light
        &__col
            margin-bottom: 5.8rem
        &__text
            margin-top: -12.7rem
            padding: 2rem 2.65rem
        &__title
            font-size: 1.25rem
        &__list
            font-size: 1.084rem
            line-height: 1.89rem        
        &__pricetag
            padding: 0.7rem 4.1rem 1.01rem 3.9rem
            font-size: 1.25rem
        &__sup
            top: 0
            font-size: 1.25rem
        .card
            &__item
                display: none
                &:nth-child(7):not(:last-child)::after
                    content: '...'
            &__item:nth-child(-n + 7)
                display: list-item

@media screen and ( max-height: 520px ) 
    .hero
        &__scroll-down
            display: none