@media screen and ( max-width: 1200px )
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem
@media screen and ( max-width: 992px ) 
    .nav
        display: none 
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
@media screen and ( max-width: 570px ) 
    .header
        padding: 22px 0
    .container
        width: 100%
        max-width: 1256px
        margin: 0 auto
        padding-left: 18px
        padding-right: 18px
    .menu
        &__logo
            margin: 0
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.94rem
        margin-top: 0 
    .hero
        height: auto
        padding-top: 140px
        min-height: 100vh
        justify-content: flex-start
        .container
            margin: 0 auto
        &__content
            max-width: 350px
        &__text
            line-height: 150%
            font-size: 1.39rem
            margin-top: 8px
            padding-top: 0
            margin-bottom: 2.7rem
        &__button
            display: block
            min-width: 100%
            margin-bottom: 1.85rem
        &__scroll-down
            display: none
    .button
        font-size: 1.1rem
@media screen and ( max-height: 520px ) 
    .hero
        &__scroll-down
            display: none